<section class="py-5 bg-image-full"
         style="background-image: url('https://media-api.xogrp.com/images/299c7d70-3879-4878-93cd-cb4963772c76~rs_768.h'); background-size: 100% ;">
    <div style="height: 70vh;"></div>
</section>
<section class="py-5">
    <div class="container">
        <h1>Register for free today and enjoy the ride :) </h1>
        <div>
            <p class="lead" style="font-size: 24px; font-style: italic;">
                <br>Shared Trip makes ridesharing easy, safe and accessible to all.
                <br>In just a few seconds, drivers can offer empty seats and passengers can book a ride to their destination.
            </p>
        </div>
    </div>
</section>